
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .flexNormal {
      display: flex;
      align-items: center;
  }
  .flexSpace {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  /* Modal Content */
  .modalcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 35%;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 0 15px 4px #7e7e7e;
  }
  .modalcontentlog {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 55%;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 0 15px 4px #7e7e7e;
  }
  .modalChatBox {
      border-top: 1px dashed #cccccc;
      max-height: 500px;
      overflow-y: auto;
      padding-bottom: 15px;
  }
  /* The Close Button */
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .dataTableContainer {
      margin-top: 25px;
  }
  .khatamDataTable {
      margin-top: 0;
  }
  .createBtn {
      background-color: #04346f;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
  }
  .btn {
      cursor: pointer;
      margin: 0 5px;
      border: none;
      padding: 3px 6px;
      border-radius: 4px;
      transition: all 0.3s;
  }
  .btn:hover {
      opacity: 0.8;
  }
  .createBtn:hover {
      opacity: 0.8;
  }
  .lightBlueBtn {
      background-color: #075695;
      color: #fff;
  }
  .lightRedBtn {
      background-color: #ff5757;
      color: #fff;
  }
  .orangeBtn {
      background-color: #e0650c;
      color: #ffffff;
  }
  .greenBtn {
    background-color: #04346f;
    color: #ffffff;
}
  .oceanBlueBtn {
      background-color: #0cc2e0;
      color: #ffffff;
  }
  .darkBlueBtn {
      background-color: #04346f;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
  }

.rowField {
    display: flex;
    margin-bottom: 10px;
}
.rowField label {
    width: 120px;
    background: #f0f0f0;
    padding: 4px 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-left: -5px;
    border-radius: 4px;
}
.rowField input {
    width: 300px;
    box-sizing: border-box;
    /*border-radius: 4px 0 0 4px;*/
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    margin-right: 5px;
    padding: 5px 10px;
    /*border-right: 1px solid #dbdbdb;*/
}
.rowField button[type="submit"] {
    background-color: #04346f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}
.rowField button:hover {
    opacity: 0.8;
}
.rowField select {
    border: 1px solid #aaaaaa;
    width: 300px;
    border-right: 1px solid #dbdbdb;
    padding: 4px 10px;
    background-color: #fff;
}
.filterSelect {
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 4px;
}

/* chat details */
.userMessage {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.userAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}
.userAvatar img {
    width: 100%;
    height: 100%;
}
.userMessage .messageContent {
    background-color: #f5f5f5;
    color: #282828;
    padding: 10px;
    min-height: 100px;
    width: calc(100% - 85px);
    margin-right: 15px;
    border-radius: 12px;
}
.personName {
    font-size: 14px;
    color: #113E66;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.modalChatDetails {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}
.modalChatDate {
    position: relative;
    padding: 0 55px 0 5px;
    border: 1px solid #113E66;
    border-radius: 4px;
    margin-left: 10px;
}
.systemMessage .modalChatDate {
    border: 1px solid #b5b5b5;
}
.modalChatDate::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "تاریخ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #113E66;
    color: #f5f5f5;
}
.systemMessage .modalChatDate::before {
    background-color: #b5b5b5;
    color: #113E66;
}
.modalChatId {
    position: relative;
    padding: 0 55px 0 5px;
    border: 1px solid #113E66;
    border-radius: 4px;
}
.modalChatRating {
    position: relative;
    padding: 0 55px 0 5px;
    border: 1px solid #113E66;
    border-radius: 4px;
}
.systemMessage .modalChatId {
    border: 1px solid #b5b5b5;
}
.modalChatId::before {
    content: "امتیاز";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #113E66;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalChatRating::before {
    content: "امتیاز";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #113E66;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.systemMessage .modalChatId::before {
    background-color: #b5b5b5;
    color: #113E66;
}
.systemMessage {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.systemAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.systemAvatar img {
    width: 100%;
    height: 100%;
}
.systemMessage .personName {
    color: #ffffff;
}
.systemMessage .messageContent {
    background-color: #021d3e;
    color: #f5f5f5;
    padding: 10px;
    min-height: 100px;
    width: calc(100% - 85px);
    margin-left: 15px;
    border-radius: 12px;
}
.userFilterInput {
    margin-right: 15px;
    padding: 3px 5px;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 200px;

}
.textBox {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #cccccc;
    min-height: 200px;
    padding: 5px;
    margin-bottom: 10px;
}
.promptList {
    display: block;
    margin-top: 10px;
}
.promptList li {
    list-style: none;
    padding: 5px;
    border-radius: 4px;
}
.promptList li:nth-child(2n+1) {
    background-color: #f5f5f5;
}
.llmServerList {
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
}
.llmServerListBtns {
    margin-top: 10px;
}
.llmServerListAddress {
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    font-size: 14px;
}
.llmServerListAddress span:first-child {
    margin-left: 10px;
    font-feature-settings: "ss01";
}
.sessionFilter, .chatFilter {
    width: 200px;
    margin-top: 25px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.sessionsTable, .chatTable {
    width: calc(100% - 215px);
}
.sessionsContentContainer, .chatContentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.rowFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rowFilter input {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    padding: 5px;
}
.rowFilter button {
    width: 100%;
}
.sessionFilter h5, .chatFilter h5 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #cccccc;
}
.filterLlmName {
    cursor: pointer;
    color: #282828;
    font-feature-settings: "ss01";
    background: #f5f5f5;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s;
}
.filterLlmName:hover {
    background-color: #eaeaea;
}
.filterLlms {
    margin-top: 15px;
}
.dateField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.filterBox {
    margin-bottom: 15px;
}
.filterBox select {
    width: 100%;
}
.filterBtns button {
    width: 100%;
    display: block;
    margin: 5px auto;
}
.dataTableContainer div[class*="dJmbvP"] {
    font-feature-settings: "ss01";
}
.dataTableActionBtn {
    /*width: 80px;*/
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.recordManagerModal ul {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.recordManagerModal ul li {
    list-style: none;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
.modalActionBtns {
    display: flex;
    margin-top: 10px;
}
.recordDetails {
    padding-left: 5px;
    padding-right: 5px;
}
.recordDetail {
    display: flex;
    align-items: center;
}
.recordDetail span {
    margin-left: 10px;
}
.modelManageCreateForm {
    margin-top: 10px;
}