
/* Dashboard */
.flexSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex {
    display: flex;
    align-items: center;
}
.dashboardPage {
    width: calc(100% - 270px);
    height: 100vh;
    background-color: #f8f8f8;
}
.dashboardMain {
    height: calc(100vh - 130px);
    position: relative;
}

@media (max-width: 980px) {
    .dashboardPage {
        width: 100%;
    }
}