/* Chat Field */
.chatField {
    background-color: #cccccc;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatForm {
    background-color: #ffffff;
    width: 60%;
    min-height: 50px;
    border: 1px solid #D0D5DD;
    box-shadow: 0 0 0 4px #F2F4F7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatForm input, .chatForm textarea {
    width: calc(100% - 40px);
    background-color: transparent;
    box-sizing: border-box;
    /*height: 100%;*/
    min-height: 50px;
    border: none;
    border-radius: 12px;
    padding: 10px 10px 0 10px;
    /*line-height: 45px;*/
    resize: none;
}

.chatForm input::placeholder, .chatForm textarea::placeholder {
    text-align: right;
    direction: rtl;
    line-height: 32px;
}
.chatFormBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    margin-left: 10px;
}
.formChoices {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 160px;
}
.formChat {
    color: #113E66;
    font-size: 13px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
.formSearch {
    color: #3A7A5F;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
.formChoiceActive {
    width: 75px;
    height: 26px;
    padding: 0 8px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #919EAB29;
    background-color: #ffffff;
    transition: all 0.3s;
}
.formChoiceNotActive {
    width: 75px;
    box-shadow: 0 1px 2px 0 transparent;
    background-color: transparent;
    transition: all 0.3s;
}
.formSend {
    background-color: #EAECF0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: all 0.3s;
}
.formSend:hover {
    opacity: 0.8;
}
:global(.dark) .chatField {
    background-color: #3e3e3e;
}
:global(.dark) .chatForm {
    background-color: #a0a0a0;
    box-shadow: 0 0 0 4px #353535;
    border: 1px solid #282828;
}
@media (max-width: 980px) {
    .chatForm {
        width: 85%;
        flex-wrap: wrap;
        height: auto;
    }
    .chatForm textarea {
        width: 100%;
    }
    .chatFormBtns {
        width: 100%;
        padding: 10px;
    }
}