.dashboardPage {
  position: relative;
  width: 100%;
  padding: 15px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.breadCrumb {
  margin-top: 10px;
  margin-bottom: 25px;
}

.breadCrumb ul {
  display: flex;
  align-items: center;
}

.breadCrumb ul li {
  position: relative;
  margin-right: 25px;
  list-style: none;
  font-size: 22px;
  color: #555555;
}

.breadCrumb ul li::before {
  content: "•";
  position: absolute;
  left: -15px;
  top: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #999999;
}

.breadCrumb ul li:first-child::before {
  display: none;
}

.breadCrumb ul li:last-child::before {
  color: #147c14;
}

.filterBox {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.filterBox input {
  border: none;
  font-family: inherit;
  padding: 8px 40px 8px 10px;
}

.filterBox button {
  background-color: transparent;
  border: none;
  border-left: 1px solid #eaeaea;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  color: blue;
}

.status-done {
  color: black;
  padding: 22px;

  background-color: #00e20028;
  line-height: 25px;
  text-align: center;
}

.status-cancelled {
  color: black;
  padding: 8px;
  background-color: #7b80891f;
  line-height: 25px;
  text-align: center;
}

.status-error {
  color: black;
  padding: 23px;
  background-color: #ff2a0427;
  line-height: 25px;
  text-align: center;
}

.status-pending {
  color: black;
  padding: 14px;
  background-color: #fad90034;
  line-height: 25px;
  text-align: center;
}

/* Data table Buttons */
.dataTableBtns {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  padding: 10px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}


.buttonRed {
  background-color: #ffdbdb;
  color: indianred;
}

.buttonGreen {
  background-color: #dbe8e2;
  color: #09301e;
  font-size: 20px;
}

.buttonRed:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.buttonRed:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rows {
  padding: 20px 10px;
}

.dashItemProductDetails {
  padding: 0 20px;
  font-size: 0.875rem;
  color: #888888;
  font-weight: 500;
  margin-top: 10px;
}

.dashItemProductDetails button {
  border: none;
  background: inherit;
  background-color: #888888;
  padding: 7px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 2px;
}

.uptimeItems {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.uptimeItemStatus {
  width: 15%;
  padding: 10px;
  border-radius: 6px;
  /*border: 1px solid #CCCCCC;*/
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.uptimeItemStatusSuccess {
  background-color: #d2f7c2;
  color: rgb(54, 172, 7);
  margin-right: 10px;
}

.uptimeItemStatusSuccess span:nth-child(3) {
  font-size: 32px;
}

.uptimeItemStatusSuccess span:nth-child(2) {
  color: rgb(6, 201, 55);
}

.uptimeItemStatusErr {
  background-color: rgb(248, 201, 201);
  color: rgb(228, 4, 4);
}

.uptimeItemStatusErr span:nth-child(2) {
  font-size: 18px;
}

.uptimeItemStatusErr span:nth-child(3) {
  font-size: 32px;
}

.uptimeItemStatusPending {
  background-color: #f3ce97;
  color: rgb(143, 64, 0);
}

.uptimeItemStatusPending span:nth-child(2) {
  font-size: 18px;
}

.uptimeItemStatusPending span:nth-child(3) {
  font-size: 32px;
}

.uptimeItemStatus span {
  display: block;
  text-align: center;
}

.uptimeItemStatus span:first-child {
  margin-bottom: 10px;
  font-size: 16px;
}

.checkUptimeBtn {
  border-right: 1px dashed #cccccc;
  padding-right: 20px;
  display: flex;
  align-items: center;
  margin-right: auto;
}


.checkUptimeBtn button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #0b8d7c;
  border: none;
  padding: 16px;
  font-size: 23px;
  color: #ffffff;
  transition: all 0.3s;
}

.checkUptimeBtn button:disabled {
  cursor: not-allowed;
  background-color: #a9a9a9;
  color: #d3d3d3;
  opacity: 0.6;
  color: white;

}

.checkUptimeBtn button:hover {
  opacity: 0.8;
}


.checkUptimeBtn2 {
  display: flex;
  align-items: center;
  justify-content: center;

}


.checkUptimeBtn2 button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #0b8d7c;
  border: none;
  padding: 16px;
  font-size: 23px;
  color: #ffffff;
  transition: all 0.3s;
}

.checkUptimeBtn2 button:disabled {
  cursor: not-allowed;
  background-color: #a9a9a9;
  color: #d3d3d3;
  opacity: 0.6;
  color: white;

}

.checkUptimeBtn2 button:hover {
  opacity: 0.8;
}

.uptimeIcon {
  position: absolute;
  top: 7px;
  right: 5px;
  opacity: 0.2;
}

.DataTableTitle {
  background-color: #0f7e4b;
  font-size: 24px;
  color: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataTableContainer {
  margin: 25px;

}

.dataTableContainer>div {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* box-shadow: 0 5px 10px -5px grey; */
  /* box-shadow: 5px 5px 10px -5px grey, -5px 5px 10px -5px grey, 0 5px 10px -5px grey; */
  box-shadow: 2px 2px 5px -2px rgba(128, 128, 128, 0.1), -2px 2px 5px -2px rgba(128, 128, 128, 0.1), 0 2px 5px -2px rgba(128, 128, 128, 0.1);

}

.dataTable {
  border: 1px solid #ccc;
}

.expandableRow {
  width: 100%;
}

.expandableRowTitle {
  width: 100%;
  padding: 10px;
}

.expandableRowTitle h4 {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

.percentContainer {
  width: 180px;
  height: 180px;
  text-anchor: middle;
  dominant-baseline: middle;
  font-feature-settings: "ss01";
}

.percentContainer svg {
  text-anchor: middle !important;
  dominant-baseline: middle !important;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: calc(33% - 5px);
  background-color: #ffffff;
  border-radius: 10px;
  border: 0 solid transparent;
  direction: rtl;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  margin-bottom: 15px;
}

.detail h3 {
  width: 100%;
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.monitoringTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.monitoringTitleH3 {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s;
}
.monitoringTitleH3:hover {
  opacity: 0.8;
}
.btnLiveStat button {
  display: flex;
  align-items: center;
}
.btnLiveStat button h3 {
  width: 120px;
}
.unStyledBtn {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
.monitoringTitleH3 h3 {
  color: #002b6c;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}
.monitoringTitle p {
  font-weight: 400;
  font-size: 18px;
  padding: 16px 0 10px 0;
  border-bottom: 3px solid #005b31;

}
.monitoringTitle div {
  width: auto;
}
.errorHandleBox {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.detailContent {
  font-weight: bold;
  height: 100%;
  direction: ltr;
}

.detailContent p:first-of-type {
  color: #026dbf;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.detailContent p {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.title h3 {
  font-weight: 300;
  font-size: 38px;
  letter-spacing: 1.5px;
}

.Items {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  min-height: 110px;
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

.ItemsHeaderLoader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 110px;
  padding: 0 2rem;
  margin: 10px 0 0 0;
}

.ItemsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 2rem;
  margin: 55px 0 0 0;
  border-bottom: 3px solid #005b31;
}

.ItemsHeader p {
  font-size: 24px;
  color: #111111;
  font-weight: 300
}

.ItemsHeaderOptions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ItemsHeaderStatus {
  display: flex;
  align-items: center;
  gap: 5px;
}

.IconPocker {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNCQUMyRDYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNS43MTQgMTEuNDI3YS43MTQuNzE0IDAgMSAwIDAgMS40MjloOC41NzJhLjcxNC43MTQgMCAxIDAgMC0xLjQyOUg1LjcxNHptLjM1Ny01YTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3ptNy44NTggMGExLjA3MSAxLjA3MSAwIDEgMCAwIDIuMTQzIDEuMDcxIDEuMDcxIDAgMCAwIDAtMi4xNDN6Ii8+Cjwvc3ZnPgo=");

  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.IconHappy {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiM3RUQzMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxMS40MjdhNSA1IDAgMCAwIDEwIDAgLjcxNC43MTQgMCAxIDAtMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMS03LjE0MiAwIC43MTQuNzE0IDAgMSAwLTEuNDI5IDB6bTEuMDcxLTVhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MyAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==");
  background-size: contain;

  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.IconMad {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjZFMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxNC45OThhLjcxNC43MTQgMCAwIDAgMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMSA3LjE0MiAwIC43MTQuNzE0IDAgMSAwIDEuNDI5IDAgNSA1IDAgMSAwLTEwIDB6bTEuMDcxLTguNTdhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MiAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDIgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==");
  background-size: contain;

  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.ItemsHeaderStatus span {
  font-size: 16px;
}

.ItemsMain {
  min-height: 0;
  width: 100%;
  display: none;
}
.modelsStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modelStatBox {
  width: calc(33% - 10px);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0 solid transparent;
  direction: rtl;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  margin-bottom: 10px;
  overflow: hidden;
}
.statBoxHeader {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-feature-settings: "ss01";
}
.llmStatsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.tooltipAble {
  position: relative;
}
.tooltip {
  width: 270px;
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  padding: 3px 5px;
  display: flex;
  opacity: 0;
  transition: all 0.3s;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #282828;
  box-shadow: 0 0 3px #ccc;
}
.tooltipAble:hover .tooltip {
  opacity: 1;
}
.serviceName {
  color: #282828;
  padding: 3px 5px;
  border-radius: 4px;
  font-feature-settings: "ss01";
}
.headerRight {
  display: flex;
  align-items: center;
}
.address {
  background-color: #5fb4ff;
  color: #f5f5f5;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}
.btnReCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
}
.btnReCheck span {
  margin-right: 10px;
}
.statChartBox {
  width: 100%;
}
.btnReCheck button {
  display: flex;
  border: none;
  cursor: pointer;
}
/* monitoring page */
.monitoringContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.khatamModelsStats {
  width: 100%;
}
.monitoringItemList {
  width: 200px;
  margin-top: 25px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.monitoringDetailsContent {
  width: calc(100% - 215px);
}
.llmMonitorItem {
  position: relative;
  padding: 5px;
  background-color: #f5f5f5;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-feature-settings: "ss01";
  transition: all 0.3s;
}
.llmMonitorItem:hover {
  opacity: 0.8;
}
.llmMonitorItem span {
  font-size: 14px;
  margin-right: 5px;
  border-right: 1px solid #cccccc;
  padding-right: 5px;
}
.serverOn {
  background-color: #0b8d7c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.serverOff {
  background-color: #ff4a4a;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.llmMonitorItemdetails {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #cccccc;
}
.llmMonitorItemName {
  width: 100%;
}
.llmServerName {
  font-size: 14px;
  color: #5d5f7e;
  background-color: #dfdfdf;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: 400;
}
:global(.dark) .modelStatBox {
  background-color: #383838;
  color: #f5f5f5;
}
:global(.dark) .statBoxHeader {
  border-bottom: 2px solid #666666;
}
:global(.dark) .btnReCheck {
  background-color: #646464;
  border: 1px solid #282828;
}
:global(.dark) .btnReCheck button {
  background-color: transparent;
}
:global(.dark) .detail {
  border: 1px solid #595959;
  background-color: #383838;
}
.monitoringLiveCharts {
  background-color: #ffffff;
  border-radius: 10px;
  border: 0 solid transparent;
  direction: rtl;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  margin-bottom: 10px;
  overflow: hidden;
}
